<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="">
  <title>Document</title>
</head>
<body>
<div class="center jumbotron"><h1>Welcome to the Sample App</h1>
  <h2 class="btn trix-button">This is the home page for the<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>sample application.
  </h2><%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %></div>
</body>
</html>