<%= render partial: 'shared/flash_messages', locals: { flash: flash["success"], type: "success" } %>
<div class="card w-25">
  <%= gravatar_for @user %>
  <div class="card-body">
    <h5 class="card-title">
      <%= @user["name"] %>
    </h5>
  </div>
</div>
