<% if logged_in? %>
  <div class="row">
    <section class="user_info col-4">
      <%= render "shared/profile" %>
    </section>
    <section class="micropost_form col-8">
      <%= render "form" %>
    </section>
  </div>
<% else %>...
<% end %>
